Repository SuzumiyaAoba/ees: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx,js,jsx,json}": [
    "biome check --write --no-errors-on-unmatched"
  ],
  "*.{json,md}": ["biome format --write --no-errors-on-unmatched"]
}

Replace unsafe 'as' type assertions with Zod schema validation
  src/__tests__/api.test.ts
  src/schemas/openapi.ts
  src/services/embedding.ts
  src/utils/embedding-data.ts
  src/utils/test-helpers.ts
Due: biome check --write --no-errors-on-unmatched

Add TypeScript type-checking configuration for CI
  .github/workflows/ci.yml
  package.json
  tsconfig.typecheck.json
Due: biome format --write --no-errors-on-unmatched

Enable full test suite execution in CI
  .github/workflows/ci.yml
Due: none

Fix all test failures and make test suite pass
  src/__tests__/api.test.ts
  src/__tests__/database.test.ts
  src/__tests__/errors.test.ts
  src/__tests__/integration.test.ts
  src/__tests__/ollama.test.ts
  src/entities/embedding/__tests__/embedding.test.ts
  src/entities/embedding/model/openapi.ts
Due: biome check --write --no-errors-on-unmatched

Fix all TypeScript type-check errors and enable CI type-checking
  .github/workflows/ci.yml
  biome.json
  package.json
  src/app/index.ts
  src/entities/embedding/api/embedding.ts
  src/entities/embedding/model/embedding.ts
  src/shared/database/connection.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Remove file-specific linting overrides and establish strict code quality policy
  CLAUDE.md
  biome.json
Due: biome format --write --no-errors-on-unmatched

Fix all linting errors without relaxing Biome configuration
  src/app/index.ts
  src/entities/embedding/api/embedding.ts
  src/shared/database/connection.ts
Due: biome check --write --no-errors-on-unmatched

Fix CI failures with proper environment variable handling and framework compatibility
  .github/workflows/ci.yml
  src/app/index.ts
  src/entities/embedding/api/embedding.ts
  src/shared/database/connection.ts
  src/shared/lib/env.ts
  src/shared/lib/index.ts
Due: biome check --write --no-errors-on-unmatched

Refactor architecture for multi-interface support (Web + CLI)
  CLAUDE.md
  src/app/index.ts
  src/app/providers/main.ts
  src/cli/index.ts
  src/shared/application/embedding-application.ts
  src/shared/application/index.ts
  src/shared/application/layers.ts
  src/shared/lib/console.ts
  src/shared/lib/env.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Complete CLI implementation by resolving all TODOs
  CLAUDE.md
  examples/cli/batch-ndjson.jsonl
  examples/cli/batch.json
  examples/cli/sample.txt
  src/cli/index.ts
  src/shared/lib/file-io.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Add comprehensive test coverage and fix test infrastructure
  src/cli/__tests__/cli-simple.test.ts
  src/shared/application/__tests__/embedding-application.test.ts
  src/shared/application/__tests__/layers.test.ts
  src/shared/application/embedding-application.ts
  src/shared/lib/__tests__/console.test.ts
  src/shared/lib/__tests__/env.test.ts
  src/shared/lib/__tests__/file-io.test.ts
  src/shared/lib/env.ts
  src/shared/lib/file-io.ts
Due: biome check --write --no-errors-on-unmatched

Fix CI linting errors in test files
  src/cli/__tests__/cli-simple.test.ts
  src/shared/application/__tests__/embedding-application.test.ts
  src/shared/lib/__tests__/console.test.ts
  src/shared/lib/__tests__/env.test.ts
Due: biome check --write --no-errors-on-unmatched

Add multi-provider embedding system with OpenAI and Google AI support
  docs/PROVIDER_SYSTEM.md
  package-lock.json
  package.json
  src/entities/embedding/api/embedding-v2.ts
  src/shared/config/__tests__/providers.test.ts
  src/shared/config/providers.ts
  src/shared/providers/__tests__/factory.test.ts
  src/shared/providers/__tests__/integration.test.ts
  src/shared/providers/__tests__/types.test.ts
  src/shared/providers/factory.ts
  src/shared/providers/google-provider.ts
  src/shared/providers/index.ts
  src/shared/providers/ollama-provider.ts
  src/shared/providers/openai-provider.ts
  src/shared/providers/types.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Fix Vercel AI SDK v5 compatibility and API usage
  src/shared/config/__tests__/providers.test.ts
  src/shared/config/providers.ts
  src/shared/providers/__tests__/factory.test.ts
  src/shared/providers/factory.ts
  src/shared/providers/google-provider.ts
  src/shared/providers/openai-provider.ts
  src/shared/providers/types.ts
Due: biome check --write --no-errors-on-unmatched

Unify all providers under Vercel AI SDK ecosystem
  docs/PROVIDER_SYSTEM.md
  package-lock.json
  package.json
  src/shared/config/__tests__/providers.test.ts
  src/shared/config/providers.ts
  src/shared/providers/__tests__/factory.test.ts
  src/shared/providers/factory.ts
  src/shared/providers/ollama-provider.ts
  src/shared/providers/types.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Replace Ollama-only implementation with unified multi-provider system
  CLAUDE.md
  docs/PROVIDER_SYSTEM.md
  src/__tests__/errors.test.ts
  src/__tests__/ollama.test.ts
  src/entities/embedding/__tests__/embedding.test.ts
  src/entities/embedding/api/embedding-v2.ts
  src/entities/embedding/api/embedding.ts
  src/entities/embedding/api/ollama.ts
  src/shared/application/embedding-application.ts
  src/shared/config/providers.ts
  src/shared/errors/ollama.ts
  src/shared/providers/ollama-provider.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Temporarily skip complex embedding tests to fix CI
  src/entities/embedding/__tests__/embedding.test.ts
Due: biome check --write --no-errors-on-unmatched

Fix provider error types to use Effect Data.TaggedError
  src/shared/providers/types.ts
Due: biome check --write --no-errors-on-unmatched

Remove unnecessary documentation files
  docs/PROVIDER_SYSTEM.md
  examples/sample-requests.md
Due: biome format --write --no-errors-on-unmatched

Fix CI test failures and complete multi-provider migration
  src/__tests__/integration.test.ts
  src/cli/__tests__/cli-simple.test.ts
  src/entities/embedding/api/embedding.ts
  src/entities/embedding/api/index.ts
  src/shared/application/__tests__/embedding-application.test.ts
  src/shared/application/__tests__/layers.test.ts
  src/shared/application/embedding-application.ts
  src/shared/errors/index.ts
  src/shared/providers/google-provider.ts
  src/shared/providers/openai-provider.ts
Due: biome check --write --no-errors-on-unmatched

Replace relative imports with @/ path aliases for better maintainability
  src/__tests__/api.test.ts
  src/__tests__/database.test.ts
  src/__tests__/errors.test.ts
  src/__tests__/index.test.ts
  src/__tests__/integration.test.ts
  src/app/index.ts
  src/app/providers/main.ts
  src/cli/__tests__/cli-simple.test.ts
  src/cli/index.ts
  src/entities/embedding/__tests__/embedding.test.ts
  src/entities/embedding/api/embedding.ts
  src/features/batch-create-embedding/api/route.ts
  src/features/create-embedding/api/route.ts
  src/features/delete-embedding/api/route.ts
  src/features/list-embeddings/api/route.ts
  src/features/search-embeddings/api/route.ts
  src/index.ts
  src/shared/application/__tests__/embedding-application.test.ts
  src/shared/application/__tests__/layers.test.ts
  src/shared/application/embedding-application.ts
  src/shared/application/layers.ts
  src/shared/lib/test-helpers.ts
  tsconfig.json
  vite.config.ts
  vitest.config.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Add support for Azure, Cohere, and Mistral embedding providers
  eslint.config.js
  package-lock.json
  package.json
  src/shared/config/__tests__/providers.test.ts
  src/shared/config/providers.ts
  src/shared/providers/azure-provider.ts
  src/shared/providers/cohere-provider.ts
  src/shared/providers/factory.ts
  src/shared/providers/index.ts
  src/shared/providers/mistral-provider.ts
  src/shared/providers/types.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Fix ESLint unused variable errors in CI
  src/app/index.ts
  src/entities/embedding/api/embedding.ts
  src/shared/lib/file-io.ts
Due: biome check --write --no-errors-on-unmatched

Remove ESLint configuration in favor of Biome
  eslint.config.js
  package-lock.json
  package.json
Due: biome format --write --no-errors-on-unmatched

Implement libSQL native vector search for efficient similarity search
  src/__tests__/database.test.ts
  src/entities/embedding/api/embedding.ts
  src/shared/database/connection.ts
  src/shared/database/schema.ts
Due: biome check --write --no-errors-on-unmatched

Add Web management dashboard for EES
  web/index.html
  web/package-lock.json
  web/package.json
  web/postcss.config.js
  web/src/App.tsx
  web/src/components/EmbeddingList.tsx
  web/src/components/FileUpload.tsx
  web/src/components/ProviderConfig.tsx
  web/src/components/SearchInterface.tsx
  web/src/components/ui/Button.tsx
  web/src/components/ui/Card.tsx
  web/src/components/ui/Input.tsx
  web/src/hooks/useEmbeddings.ts
  web/src/index.css
  web/src/main.tsx
  web/src/services/api.ts
  web/src/types/api.ts
  web/src/utils/cn.ts
  web/tailwind.config.js
  web/tsconfig.json
  web/tsconfig.node.json
  web/vite.config.ts
Due: biome format --write --no-errors-on-unmatched

Fix CSS configuration and styling issues
  web/src/index.css
Due: none

Fix Tailwind CSS version and configuration for proper styling
  web/package-lock.json
  web/package.json
  web/postcss.config.js
Due: biome format --write --no-errors-on-unmatched

Create independent CLI package for EES
  package.json
  packages/cli/package.json
  packages/cli/src/__tests__/cli-simple.test.ts
  packages/cli/src/cli.ts
  packages/cli/src/index.ts
  packages/cli/tsconfig.json
  packages/core/src/entities/embedding/api/embedding.ts
  packages/core/src/shared/lib/file-io.ts
  packages/core/src/shared/lib/index.ts
  packages/core/src/shared/providers/azure-provider.ts
Due: biome format --write --no-errors-on-unmatched

Fix import paths in core and API packages
  packages/api/src/cli/__tests__/cli-simple.test.ts
  packages/api/src/cli/index.ts
  packages/core/src/entities/embedding/__tests__/embedding.test.ts
  packages/core/src/entities/embedding/api/embedding.ts
  packages/core/src/index.ts
  packages/core/src/shared/application/__tests__/embedding-application.test.ts
  packages/core/src/shared/application/__tests__/layers.test.ts
  packages/core/src/shared/application/embedding-application.ts
  packages/core/src/shared/application/layers.ts
  packages/core/src/shared/config/index.ts
  packages/core/src/shared/index.ts
Due: none

Fix module resolution issues in core package
  package-lock.json
  packages/core/package.json
  packages/core/src/entities/embedding/__tests__/embedding.test.ts
  packages/core/src/entities/embedding/api/embedding.ts
  packages/core/tsconfig.json
  packages/core/vitest.config.ts
Due: biome format --write --no-errors-on-unmatched

Complete fix for module resolution issues across packages
  packages/core/package.json
  packages/core/src/shared/application/__tests__/embedding-application.test.ts
  packages/core/src/shared/application/embedding-application.ts
  packages/core/src/shared/lib/test-helpers.ts
Due: biome format --write --no-errors-on-unmatched

Successfully resolve CI test failures for PR #27
  package.json
  packages/core/package.json
Due: biome format --write --no-errors-on-unmatched

Add temporary stub files for @ees/core package resolution
  packages/core/dist/index.d.ts
  packages/core/dist/index.js
Due: none

Fix import paths to resolve CI build errors in PR #27
  packages/api/src/features/batch-create-embedding/api/route.ts
  packages/api/src/features/create-embedding/api/route.ts
  packages/api/src/features/delete-embedding/api/route.ts
  packages/api/src/features/list-embeddings/api/route.ts
  packages/api/src/features/search-embeddings/api/route.ts
  packages/api/src/index.ts
  packages/api/vite.config.ts
Due: none

Fix CI dependency and import path issues for PR #28
  package-lock.json
  packages/api/src/features/batch-create-embedding/api/route.ts
  packages/api/src/features/create-embedding/api/route.ts
  packages/api/src/features/delete-embedding/api/route.ts
  packages/api/src/features/list-embeddings/api/route.ts
  packages/api/src/features/search-embeddings/api/route.ts
  packages/api/src/index.ts
  packages/api/vite.config.ts
Due: biome format --write --no-errors-on-unmatched

Fix CI TypeScript build errors for PR #28
  package.json
  packages/cli/tsconfig.json
  packages/core/dist/index.js
  packages/core/src/entities/embedding/api/embedding.ts
  packages/core/src/shared/providers/cohere-provider.ts
  packages/core/src/shared/providers/google-provider.ts
  packages/core/src/shared/providers/mistral-provider.ts
  packages/core/src/shared/providers/openai-provider.ts
  packages/core/tsconfig.json
Due: biome format --write --no-errors-on-unmatched
