Repository SuzumiyaAoba/ees: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx,js,jsx,json}": [
    "biome check --write --no-errors-on-unmatched"
  ],
  "*.{json,md}": ["biome format --write --no-errors-on-unmatched"]
}

Remove sample user endpoints and focus on embeddings API
  src/__tests__/index.test.ts
  src/__tests__/schemas/user.test.ts
  src/index.ts
  src/schemas/user.ts
Due: biome check --write --no-errors-on-unmatched

Add model_name support and improve API functionality
  src/database/connection.ts
  src/database/schema.sql
  src/index.ts
  src/schemas/embedding.ts
  src/services/embedding.ts
  src/services/ollama.ts
  src/types/embedding.ts
  vitest.config.ts
Due: biome check --write --no-errors-on-unmatched

Update default model name to embeddinggemma:300m
  src/database/schema.sql
  src/schemas/embedding.ts
  src/services/embedding.ts
  src/services/ollama.ts
Due: biome check --write --no-errors-on-unmatched

Migrate to Drizzle ORM for type-safe database operations
  package-lock.json
  package.json
  src/database/connection.ts
  src/database/schema.sql
  src/database/schema.ts
  src/services/embedding.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Introduce Effect for functional programming and type-safe error handling
  package-lock.json
  package.json
  src/errors/database.ts
  src/errors/ollama.ts
  src/index-effect.ts
  src/layers/main.ts
  src/services/database.ts
  src/services/embedding-effect.ts
  src/services/ollama-effect.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Update CLAUDE.md to reflect current Effect-based architecture
  CLAUDE.md
Due: biome format --write --no-errors-on-unmatched

Replace traditional implementation with Effect-based architecture
  CLAUDE.md
  src/database/connection.ts
  src/index-effect.ts
  src/index.ts
  src/services/database.ts
  src/services/embedding-effect.ts
  src/services/embedding.ts
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Convert existing implementation files to Effect-based architecture
  src/database/connection.ts
  src/index.ts
  src/layers/main.ts
  src/services/embedding.ts
  src/services/ollama-effect.ts
  src/services/ollama.ts
Due: biome check --write --no-errors-on-unmatched

Add Nix flakes for zero-config API server deployment
  CLAUDE.md
  README.md
  flake.lock
  flake.nix
Due: biome format --write --no-errors-on-unmatched

Fix nix run server startup and port configuration
  flake.nix
  package-lock.json
  package.json
  src/index.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Fix database path resolution and streamline examples
  .gitignore
  examples/README.md
  examples/api-test.sh
  examples/sample-requests.md
  flake.nix
  src/database/connection.ts
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Replace file_path with uri for broader data location support
  examples/api-test.sh
  examples/sample-requests.md
  src/database/connection.ts
  src/database/schema.ts
  src/index.ts
  src/schemas/embedding.ts
  src/services/embedding.ts
  src/types/embedding.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Add English-only documentation standard to CLAUDE.md
  CLAUDE.md
Due: biome format --write --no-errors-on-unmatched

Standardize all documentation and code to English
  CLAUDE.md
  examples/README.md
  examples/api-test.sh
  examples/sample-requests.md
Due: biome format --write --no-errors-on-unmatched

Add document storage and retrieval capability to embedding system
  examples/README.md
  examples/sample-requests.md
  src/database/connection.ts
  src/database/schema.ts
  src/services/embedding.ts
  src/types/embedding.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Add comprehensive test suite for EES API implementation
  src/__tests__/api.test.ts
  src/__tests__/database.test.ts
  src/__tests__/embedding.test.ts
  src/__tests__/errors.test.ts
  src/__tests__/integration.test.ts
  src/__tests__/ollama.test.ts
  src/__tests__/schemas.test.ts
Due: biome check --write --no-errors-on-unmatched

Add GitHub Actions CI workflow for automated build and testing
  .github/workflows/ci.yml
Due: none

Fix CI workflow issues and add PR workflow documentation
  .github/workflows/ci.yml
  CLAUDE.md
  flake.nix
Due: biome format --write --no-errors-on-unmatched

Fix linting errors in test files and source code
  src/__tests__/api.test.ts
  src/__tests__/database.test.ts
  src/__tests__/embedding.test.ts
  src/__tests__/errors.test.ts
  src/__tests__/integration.test.ts
  src/__tests__/schemas.test.ts
  src/database/connection.ts
  src/index.ts
  src/services/embedding.ts
  src/types/reset.d.ts
Due: biome check --write --no-errors-on-unmatched

Fix CI job failures
  .github/workflows/ci.yml
Due: none

Temporarily skip type checking in CI due to complex test mocking types
  .github/workflows/ci.yml
Due: none

Skip Ollama-dependent tests in CI environment
  .github/workflows/ci.yml
Due: none

Run only basic tests in CI to ensure stability
  .github/workflows/ci.yml
Due: none

Fix Vite build by externalizing Node.js modules
  vite.config.ts
Due: none

Integrate Hono with OpenAPI and Swagger UI
  package-lock.json
  package.json
  src/index.ts
  src/routes/openapi.ts
  src/schemas/openapi.ts
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Add query parameter filtering to embeddings endpoint
  src/index.ts
  src/routes/openapi.ts
  src/schemas/openapi.ts
  src/services/embedding.ts
Due: biome check --write --no-errors-on-unmatched

Configure npm run dev to function as API server
  package.json
Due: biome format --write --no-errors-on-unmatched

Convert from library mode to SSR application mode with improved development workflow
  package-lock.json
  package.json
  vite.config.ts
Due: biome format --write --no-errors-on-unmatched

Remove unnecessary dependencies and switch to run-p
  package-lock.json
  package.json
Due: biome format --write --no-errors-on-unmatched

Simplify development workflow to use tsx watch instead of nodemon
  package-lock.json
  package.json
Due: biome format --write --no-errors-on-unmatched

Implement pagination functionality for embeddings API with comprehensive unit tests
  CLAUDE.md
  src/__tests__/api.test.ts
  src/__tests__/embedding.test.ts
  src/index.ts
  src/schemas/openapi.ts
  src/services/embedding.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Fix TypeScript errors and add mandatory quality check requirements
  CLAUDE.md
  src/__tests__/api.test.ts
  src/__tests__/database.test.ts
  src/__tests__/embedding.test.ts
  src/index.ts
  src/schemas/openapi.ts
  src/services/embedding.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Replace any types with proper TypeScript interfaces and improve type safety
  src/__tests__/api.test.ts
  src/index.ts
  src/services/embedding.ts
  src/types/embedding.ts
Due: biome check --write --no-errors-on-unmatched

Add batch embedding creation endpoint for multiple text processing
  src/index.ts
  src/routes/openapi.ts
  src/schemas/openapi.ts
  src/services/embedding.ts
  src/types/embedding.ts
Due: biome check --write --no-errors-on-unmatched

Implement embedding similarity search functionality with multiple metrics
  CLAUDE.md
  src/index.ts
  src/routes/openapi.ts
  src/schemas/openapi.ts
  src/services/embedding.ts
  src/types/embedding.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Configure stricter Biome linting rules
  biome.json
Due: biome format --write --no-errors-on-unmatched

Fix majority of linting errors from stricter configuration
  src/__tests__/api.test.ts
  src/__tests__/database.test.ts
  src/__tests__/ollama.test.ts
  src/database/connection.ts
  src/index.ts
  src/services/embedding.ts
  src/services/ollama.ts
Due: biome check --write --no-errors-on-unmatched

Add Biome overrides to relax linting rules in test files
  biome.json
Due: biome format --write --no-errors-on-unmatched

Optimize search functionality for efficient top-n similarity retrieval
  src/services/embedding.ts
Due: biome check --write --no-errors-on-unmatched
